header {
	background-color: #121F3E;
	height: 60px;
}

select {
	border: 1px solid white;
	background-color: #121F3E;
	color: white;
}

.color-white {
	color: white;
}

a {
	cursor: pointer;
}

@media screen and (min-width: 480px) {
	.mobile-menu {
		display: none;
	}
}

@media (max-width: 480px) {
	.desktop-menu {
		display: none !important;
	}

	.mobile-menu {
		display: flex;
	}
}

.desktop-menu {
	display: flex;
}

.mobile-menu {
	background: white;
	height: 60px;
	box-shadow: 0 5px 8px #dddddd;
}
